body {
  font-family: "PT Sans", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

#wrap {
  height: auto;
  min-height: 100%;
  position: relative;
  width: 100%;
  background-color: #f2f2f2;
}

.navbar {
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  font-weight: 700;
}

.navbar-brand {
  font-size: 30px;
}

.navbar-nav {
  margin-top: 5px;
  font-size: 140%;
}

.main-video {
  margin-top: 5%;
  overflow: auto;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  margin-bottom: 10%;
}

iframe {
  margin-bottom: 10%;
  border-radius: 1rem;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.wave-container > p,
.sep > p {
  color: black;
  font-size: 40px;
  text-align: center;
  font-weight: 700;
}

.sep > p {
  color: rgb(0, 144, 255);
}

.reveal {
  position: relative;
  transform: translateY(144px);
  opacity: 0;
  transition: 1s all ease;
  margin-top: 200px;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

.cards-container {
  max-width: 1287px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.card {
  height: 379px;
  width: 300px;
  border-radius: 15px;
  transition: background 0.8s;
  overflow: hidden;
  margin: 5%;
  margin-bottom: 10%;
}

.bts-link,
.place-link,
.series-link {
  text-decoration: none;
  text-align: center;
  padding-top: 7px;
  color: white;
  background-color: black;
  font-size: 20px;
  bottom: 0;
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 45px;
  transition: opacity 1s;
}

.bts {
  background: url("https://upload.wikimedia.org/wikipedia/commons/e/ef/BTS_logo.svg")
    center center no-repeat;
  background-size: 50%;
}

.bts:hover {
  background-size: 70%;
}

.bts:hover .bts-link {
  opacity: 1;
}

.place {
  background: url("koreamap.webp") center center no-repeat;
  background-size: 130%;
  background-position: center;
}

.place:hover {
  background-size: 150%;
}

.place:hover .place-link {
  opacity: 1;
}

.series {
  background: url("koreanseries.png") center center no-repeat;
  background-size: 130%;
}

.series:hover {
  background-size: 150%;
}

.series:hover .series-link {
  opacity: 1;
}

a:hover {
  color: white;
}

footer {
  width: 100%;
  height: 50px;
  bottom: 0;
  position: relative;
  transform: translateY(-100%);
  border-top: 1px solid #c4c4c4;
  padding-top: 15px;
  color: rgb(0, 144, 255);
  font-size: 11px;
  margin-bottom: 0;
}

footer a {
  display: inline-block;
  margin: 0 20px 10px 20px;
  color: #808080;
  font-size: 20px;
  text-decoration: none;
}

footer a:visited {
  color: #808080;
}

footer p {
  margin-top: 0;
  margin-bottom: 0;
}

footer p span {
  display: inline-block;
  margin-left: 20px;
  font-size: 15px;
}
